JR_THREADS=3
JR_PARTIAL_REPORT_INTERVAL_SECONDS=300
JR_CONNECT_TIMEOUT_MS=60000
JR_READ_TIMEOUT_MS=900000
JR_FAIL_ON_TEST_FAILURES=false
JR_WATCHDOG_MAX_AGE_MINUTES=30
# Must point to a Java 17+ runtime. Override if /usr/bin/java is not Java 17.
JR_JAVA_BIN=/usr/bin/java
JR_PROTOCOL=https
JR_SERVER=api.example.com
JR_TENANT=testground
JR_USERNAME=operator
JR_PASSWORD=replace-me
JR_TOKEN_PATH=/identity/v1/token
JR_DB_URL=jdbc:mysql://replace-me:3306
JR_DB_USERNAME=replace-me
JR_DB_PASSWORD=replace-me
JR_DB_DRIVER=com.mysql.cj.jdbc.Driver
JR_DB_CONNECT_TIMEOUT_SECONDS=30
JR_DB_QUERY_TIMEOUT_SECONDS=120
